streamlit
pandas
base58
numpy
phik
pillow
plotly
scikit-learn
lazypredict
seaborn
matplotlib
xgboost
lightgbm
pytest
tqdm
ydata-profiling
streamlit-pandas-profiling
Jinja2
plost
bokeh
ggplot
altair
streamlit_option_menu
