streamlit
pandas
base58
numpy
phik
pillow
plotly
scikit-learn
lazypredict
seaborn
matplotlib
xgboost
lightgbm
pytest
tqdm
streamlit-pandas-profiling
Jinja2
plost
bokeh
ggplot
altair
streamlit_option_menu
streamlit-authenticator==0.1.3
st-pages
